
#startdate {
    padding: 8px 12px;
    border-image: linear-gradient(to right, blue, green, purple) 1; 
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.react-datepicker {
    font-size: 16px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.react-datepicker__header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.react-datepicker__month-select, .react-datepicker__year-select {
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
    background-color: #e9ecef;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #333;
}

.react-datepicker__day:hover, .react-datepicker__day--in-range:hover, .react-datepicker__day--in-selecting-range:hover {
    background-color: #dee2e6;
}

.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
    background-color: #007bff;
    color: white;
}
